# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
  config.vm.box = "precise64"
  config.vm.box_url = "http://files.vagrantup.com/precise64.box"
  # update the ip
  config.vm.network :hostonly, "192.168.2.200"
  # you can customize the vm configuration, like memory or cpus
  config.vm.customize ["modifyvm", :id, "--memory", 1024]
  config.vm.share_folder("v-root", "/vagrant", "../../", :nfs => true)
  config.vm.provision :shell, :path => "./install_vagrant_precise.sh"
end
