{{! Copyright (C) 2012  TEA, the ebook alternative <http://www.tea-ebook.com/> }}
{{!                                                                            }}
{{! This file is part of TeaBook Open Reader                                   }}
{{!                                                                            }}
{{! This program is free software: you can redistribute it and/or modify       }}
{{! it under the terms of the GNU General Public License as published by       }}
{{! the Free Software Foundation, version 3.0 of the License.                  }}
{{!                                                                            }}
{{! This program is distributed in the hope that it will be useful,            }}
{{! but WITHOUT ANY WARRANTY; without even the implied warranty of             }}
{{! MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              }}
{{! GNU General Public License for more details.                               }}
{{!                                                                            }}
{{! You should have received a copy of the GNU General Public License          }}
{{! along with this program.  If not, see <http://www.gnu.org/licenses/>.      }}
{{!                                                                            }}
{{! An additional permission has been granted as a special exception           }}
{{! to the GNU General Public Licence.                                         }}
{{! You should have received a copy of this exception. If not, see             }}
{{! <https://github.com/TEA-ebook/teabook-open-reader/blob/master/GPL-3-EXCEPTION>.        }}



<header>
  <nav>
    <ul class="tabs">
      <li><a class="view" href="#" data-target="preview">Aperçu</a></li>
      <li><a class="summary" href="#" data-target="toc">Sommaire</a></li>
    </ul>
  </nav>
  <button class="close" data-dismiss="modal">×</button>
</header>
<section>
  <div class="tabs-content">
    <div id="preview"></div>
    <div id="toc"><img src="/assets/ajax-loader.gif" /></div>
  </ul>
</section>
